@model RestaurantAggregator.AdminPanel.Models.Shared.PagedNamedListModel

@{
    ViewBag.Title = "Restaurant cooks";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@{ await Html.RenderPartialAsync("PagedNamedListView", Model);}
