@model Tuple<Guid, RestaurantAggregator.AdminPanel.Models.Shared.PagedNamedListModel>

<form style="display: inline">
    <input type="hidden" name="restaurantId" value="@Model.Item1"/>
    @{ await Html.RenderPartialAsync("SearchView", Model.Item2.Contains);}
</form>
<form style="display: inline">
    <input type="hidden" name="restaurantId" value="@Model.Item1"/>
    @{ await Html.RenderPartialAsync("AddButtonView");}
</form>
<form>
    <input type="hidden" name="restaurantId" value="@Model.Item1"/>
    @{ await Html.RenderPartialAsync("NamedListView", Model.Item2.NamedItems);}
</form>
<form>
    <input type="hidden" name="restaurantId" value="@Model.Item1"/>
    @{ await Html.RenderPartialAsync("PageNavigationView", Model.Item2.PageInfoModel);}
</form>